{% extends 'index.html' %}
{% block title %}Dashboard{% endblock title %}
{% block body %}
<section class="container-fluid">
    <!-- Fixed Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">BLISS-INFOTECH</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTop" aria-controls="navbarTop" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse justify-content-end" id="navbarTop">
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item">
                        <span class="navbar-text me-3 px-3 text-uppercase">{{ request.user.username }}</span>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-danger" href="{% url 'signout' %}">Sign Out</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Sidebar and Main content -->
    <div class="row flex-nowrap">
        
        <!-- Fixed Sidebar -->
        <nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar" style="position: fixed; top: 75px; left: 0; height: calc(100vh - 75px); overflow-y: auto;">
            <div class="position-sticky" id="navbarNav">
                <ul class="nav flex-column">
                    {% if request.session.user_role == 'lead' %}
                    <a class="nav-link" href="/lead/">
                        <li class="nav-item"><button class="create-btn w-100">Dashboard</button></li>
                    </a>
                    <a class="nav-link" href="{% url 'list-projects' %}">
                        <li class="nav-item"><button class="create-btn w-100">Projects</button></li>
                    </a>
                    <a class="nav-link" href="{% url 'view-tasks' %}">
                        <li class="nav-item"><button class="create-btn w-100">Tasks</button></li>
                    </a>
                    <a class="nav-link" href="{% url 'mail-server' %}">
                        <li class="nav-item"><button class="create-btn w-100">Mail Server</button></li>
                    </a>
                    <a class="nav-link" href="{% url 'view-members' %}">
                        <li class="nav-item"><button class="create-btn w-100">Members</button></li>
                    </a>
                    <a class="nav-link" href="{% url 'profile' %}">
                        <li class="nav-item"><button class="create-btn w-100">Profile</button></li>
                    </a>
                    {% elif request.session.user_role == 'manager' %}
                    <a class="nav-link" href="/manager/">
                        <li class="nav-item"><button class="create-btn w-100">Dashboard</button></li>
                    </a>
                    <a class="nav-link" href="{% url 'manager-list-projects' %}">
                        <li class="nav-item"><button class="create-btn w-100">Projects</button></li>
                    </a>
                    <a class="nav-link" href="{% url 'manager-view-tasks' %}">
                        <li class="nav-item"><button class="create-btn w-100">Tasks</button></li>
                    </a>
                    <a class="nav-link" href="{% url 'profile' %}">
                        <li class="nav-item"><button class="create-btn w-100">Profile</button></li>
                    </a>
                    {% elif request.session.user_role == 'peer' %}
                    <a class="nav-link" href="/peer/">
                        <li class="nav-item"><button class="create-btn w-100">Dashboard</button></li>
                    </a>
                    <a class="nav-link" href="{% url 'view-peer-projects' %}">
                        <li class="nav-item"><button class="create-btn w-100">Projects</button></li>
                    </a>
                    <a class="nav-link" href="{% url 'peer-tasks' %}">
                        <li class="nav-item"><button class="create-btn w-100">Tasks</button></li>
                    </a>
                    <a class="nav-link" href="{% url 'profile' %}">
                        <li class="nav-item"><button class="create-btn w-100">Profile</button></li>
                    </a>
                    {% endif %}
                </ul>
            </div>
        </nav>

        <!-- Main content area (Scrollable) -->
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4" style="overflow-y: auto; margin-left: 17%; padding-top: 75px; height: calc(100vh - 20px); overflow-y: auto;">
            {% block dashboard %}
            <!-- Default content can go here -->
            {% endblock %}
        </main>
    </div>
</section>
{% endblock %}
