{% extends 'index.html' %}
{% block title %}Dashboard{% endblock title %}
{% block body %}
<section class="container-fluid">
    <!-- Fixed Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">BLISS-INFOTECH</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTop" aria-controls="navbarTop" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse justify-content-end" id="navbarTop">
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item">
                        <span class="navbar-text me-3 px-3 text-uppercase">{{ request.user.username }}</span>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-danger" href="{% url 'signout' %}">Sign Out</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    {% if request.session.user_role == 'vendor' %}
    {% block vendor %}{% endblock %}
    {% else %}
    <div class="row flex-nowrap">
        <nav class="col-md-3 col-lg-2 d-md-block sidebar bg-dark" style="position: fixed; top: 75px; left: 0; height: calc(100vh - 75px); overflow-y: auto;">
            <div class="position-sticky" id="navbarNav">
                <ul class="nav flex-column">
                    {% if request.session.user_role == 'lead' or request.user.is_superuser %}
                    {% if request.user.is_superuser or request.user.username == 'abi' %}
                    <a class="nav-link {% if request.path == '/lead/admin-dashboard' %}active{% endif %}" href="{% url 'admin-dashboard' %}">
                        <li class="nav-item"><button class="create-btn w-100 btn btn-outline-light">Admin Dashboard</button></li>
                    </a>
                    <a class="nav-link {% if request.path == 'test' %}active{% endif %}" href="{% url 'test' %}">
                        <li class="nav-item"><button class="create-btn w-100 btn btn-outline-light">Test</button></li>
                    </a>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/lead/' %}active{% endif %}" href="/lead/">
                            <button class="create-btn w-100 btn btn-outline-light">Dashboard</button>
                        </a>
                    </li>
                    <a class="nav-link {% if 'view-project' in request.path %}active{% endif %}" href="{% url 'view-projects' %}">
                        <li class="nav-item"><button class="create-btn w-100 btn btn-outline-light">Projects</button></li>
                    </a>
                    <a class="nav-link {% if 'view-task' in request.path %}active{% endif %}" href="{% url 'lead-tasks' %}">
                        <li class="nav-item"><button class="create-btn w-100 btn btn-outline-light">Tasks</button></li>
                    </a>
                    <a class="nav-link {% if 'mail-server' in request.path %}active{% endif %}" href="{% url 'mail-server' %}">
                        <li class="nav-item"><button class="create-btn w-100 btn btn-outline-light">Mail Server</button></li>
                    </a>
                    <a class="nav-link {% if 'view-members' in request.path %}active{% endif %}" href="{% url 'view-members' %}">
                        <li class="nav-item"><button class="create-btn w-100 btn btn-outline-light">Members</button></li>
                    </a>
                    <a class="nav-link {% if 'profile' in request.path %}active{% endif %}" href="{% url 'profile' %}">
                        <li class="nav-item"><button class="create-btn w-100 btn btn-outline-light">Profile</button></li>
                    </a>
                    <a class="nav-link {% if 'view-market-leads' in request.path %}active{% endif %}" href="{% url 'view-market-leads' %}">
                        <li class="nav-item"><button class="create-btn w-100 btn btn-outline-light">Leads</button></li>
                    </a>
                    {% elif request.session.user_role == 'manager' %}
                    <a class="nav-link {% if request.path == '/manager/' %}active{% endif %}" href="/manager/">
                        <li class="nav-item"><button class="create-btn w-100 btn btn-outline-light">Dashboard</button></li>
                    </a>
                    <a class="nav-link {% if 'view-project' in request.path %}active{% endif %}" href="{% url 'manager-list-projects' %}">
                        <li class="nav-item"><button class="create-btn w-100 btn btn-outline-light">Projects</button></li>
                    </a>
                    <a class="nav-link {% if 'view-tasks' in request.path %}active{% endif %}" href="{% url 'manager-view-tasks' %}">
                        <li class="nav-item"><button class="create-btn w-100 btn btn-outline-light">Tasks</button></li>
                    </a>
                    <a class="nav-link {% if 'profile' in request.path %}active{% endif %}" href="{% url 'profile' %}">
                        <li class="nav-item"><button class="create-btn w-100 btn btn-outline-light">Profile</button></li>
                    </a>
                    {% elif request.session.user_role == 'peer' %}
                    <a class="nav-link {% if request.path == '/peer/' %}active{% endif %}" href="/peer/">
                        <li class="nav-item"><button class="create-btn w-100 btn btn-outline-light">Dashboard</button></li>
                    </a>
                    <a class="nav-link {% if 'view-project' in request.path %}active{% endif %}" href="{% url 'view-peer-projects' %}">
                        <li class="nav-item"><button class="create-btn w-100 btn btn-outline-light">Projects</button></li>
                    </a>
                    <a class="nav-link {% if 'peer-tasks' in request.path %}active{% endif %}" href="{% url 'peer-tasks' %}">
                        <li class="nav-item"><button class="create-btn w-100 btn btn-outline-light">Tasks</button></li>
                    </a>
                    <a class="nav-link {% if 'profile' in request.path %}active{% endif %}" href="{% url 'profile' %}">
                        <li class="nav-item"><button class="create-btn w-100 btn btn-outline-light">Profile</button></li>
                    </a>
                    {% elif request.session.user_role == 'administer' %}
                    <a class="nav-link {% if request.path == '/administer/' %}active{% endif %}" href="/administer/">
                        <li class="nav-item"><button class="create-btn w-100 btn btn-outline-light">Vendors</button></li>
                    </a>
                    {% endif %}
                </ul>                
            </div>
        </nav>

        <!-- Main content area (Scrollable) -->
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4" style="overflow-x: hidden; margin-left: 17%; padding-top: 75px; height: calc(100vh - 20px);">
            {% block dashboard %}
            <!-- Default content can go here -->
            {% endblock %}
        </main>
    </div>
    {% endif %}
</section>
{% endblock %}
