{% extends 'peer/dashboard.html' %}
{% block peer_board %}
<div class="table-responsive">
    <div class="d-flex justify-content-end w-100 mb-3 bg-secondary"> <!-- Bootstrap gray background -->
        <a class="nav-link p-3">
            <select onchange="peersortTaskByStatus(this.value)" class="form-select task-status">
                <option value="ALL">ALL</option>
                <option value="TODO">TODO</option>
                <option value="IN-PROGRESS">IN PROGRESS</option>
                <option value="VERIFY">VERIFY</option>
                <option value="CORRECTION">CORRECTION</option>
                <option value="HOLD">HOLD</option>
                <option value="COMPLETE">COMPLETE</option>
            </select>
        </a>
    </div>
    <table class="table table-striped table-bordered table-dark"> <!-- Added table-dark class -->
        <thead class="table-light">
            <tr>
                <th>T-ID</th>
                <th>Task Name</th>
                <th>Project Name</th>
                <th>Created</th>
                <th>Started</th>
                <th>Updated</th>
                <th>Due Date</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody class="peer_tasks_table_data">
            <!-- Data will be populated here by JavaScript -->
        </tbody>
    </table>
</div>
<script>
    window.onload = function() {
        peer_view_tasks();
    };
</script>
{% endblock %}