{% extends 'dashboard.html' %}
{% load static %}
{% block title %}Manager{% endblock title %}
{% block dashboard %}
    {% block manager_board %}
    {% endblock %}
    <!-- Modal for viewing full description -->
    <div class="modal fade" id="viewMoreModal" tabindex="-1" aria-labelledby="viewMoreModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="viewMoreModalLabel">Task Description</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p id="fullDescription"></p> <!-- Full description will be inserted here -->
                </div>
            </div>
        </div>
    </div>
    <!-- Task Creation Modal -->
    <div class="modal fade" id="taskModal" tabindex="-1" aria-labelledby="taskModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="taskModalLabel">Create Task</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="taskForm">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="task-name" class="form-label">Task Name</label>
                            <input type="text" class="form-control" id="task-name" name="task-name" required>
                        </div>
                        <div class="mb-3">
                            <label for="task-description" class="form-label">Task Description</label>
                            <textarea class="form-control" id="task-description" name="task-description" required></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="task-due" class="form-label">Due Date</label>
                            <input type="date" class="form-control" id="task-due" name="task-due" required>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="create_task('{{ project.id }}')">Create Task</button>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/manager.js' %}"></script>
{% endblock %}
