{% extends 'lead/dashboard.html' %}
{% block lead_board %}
<div class="table-responsive mt-4">
    <div class="d-flex justify-content-end w-100 mb-3" style="background-color: #6c757d;"> <!-- Gray background -->
        <a class="nav-link p-3" href="{% url 'create-project' %}">
            <button class="btn btn-primary create-btn px-3 py-2 rounded">Create Project</button>
        </a>
    </div>
    <table class="table table-striped table-bordered table-dark"> <!-- Added table-dark class -->
        <thead class="table-light">
            <tr>
                <th>P-ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Created</th>
                <th>Started</th>
                <th>Updated</th>
                <th>Due Date</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody class="projects_table_data">
            <!-- Data will be populated here by JavaScript -->
        </tbody>
    </table>
</div>

<script>
    window.onload = function() {
        get_projects();
    };
</script>

{% endblock %}
