{% extends 'lead/dashboard.html' %}
{% block lead_board %}
<div class="table-responsive">
    <h2 class="text-center px-5">Inactive Users</h2>
    <table class="table table-striped table-bordered table-dark"> <!-- Added table-dark class -->
        <thead class="table-light">
            <tr>
                <th>USER-ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Role</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody class="inactives_table_data">
            <!-- Data will be populated here by JavaScript -->
        </tbody>
    </table>
</div>
<div class="table-responsive">
    <h2 class="text-center px-5">Leads</h2>
    <table class="table table-striped table-bordered table-dark"> <!-- Added table-dark class -->
        <thead class="table-light">
            <tr>
                <th>USER-ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody class="leads_table_data">
            <!-- Data will be populated here by JavaScript -->
        </tbody>
    </table>
</div>
<div class="table-responsive">
    <h2 class="text-center px-5">Managers</h2>
    <table class="table table-striped table-bordered table-dark"> <!-- Added table-dark class -->
        <thead class="table-light">
            <tr>
                <th>USER-ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody class="managers_table_data">
            <!-- Data will be populated here by JavaScript -->
        </tbody>
    </table>
</div>
<div class="table-responsive">
    <h2 class="text-center px-5">Peers</h2>
    <table class="table table-striped table-bordered table-dark"> <!-- Added table-dark class -->
        <thead class="table-light">
            <tr>
                <th>USER-ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody class="peers_table_data">
            <!-- Data will be populated here by JavaScript -->
        </tbody>
    </table>
</div>  
<script>
    window.onload = function() {
        load_members();
    };
</script>
{% endblock %}